* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

#margin {
  border: 2px dashed black;
}

#border {
  border: 4px solid black;
}

#padding {
  border: 2px dotted black;
}

#content {
  border: 2px solid black;
}
