a[href*="www."] {
  color: red;
}

a[href^="#"] {
  color: orange;
}

a[target="_parent"] {
  color: limegreen;
}

a[target$="top"] {
  color: black;
}

a[id="highlighted"] {
  background-color: orange;
  color: black;
}
